* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ojuju", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 5px 20px;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.links a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.footer {
  text-align: center;
}
.footer .social-media-links a {
  margin: 0 10px;
}
.footer .social-media-links a i {
  color: #fbd745;
  font-size: 26px;
}

.footer .copyright {
  color: rgb(210, 53, 89);
}